<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container center-block" ng-controller="loginViewCtrl">
    <div class="row">
        <div class="col-md-5 center-block">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your station name" ng-model="username">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="login()">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>