<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container" ng-controller="playlistViewCtrl"> 
    <div ng-click="newPlaylist()" class="thumbnail">
        <img src="http://www.nnsheriff.org/img/placeholder/blogpost-placeholder-100x100.png">
        <div class="caption post-content">
            <h3 class="thumbnail-text">+</h3>
        </div>
    </div>    
</div>
